@import 'nib'
.panel
	border-radius 0 !important
	border none !important
	box-shadow 1px 1px 12px #a9a9a9 
 
.panel-heading
	background-color #fff !important
	padding 1.8em 1.6em !important

.panel-group 
	.panel + .panel
		margin-top 1.1em !important
	

