.poster {
	background: url(https://br0.understorage.com.br/v1/AUTH_static/images/bg-poster-1.jpg) no-repeat center top transparent;
	height: 176px;
	position: relative;
	z-index: 2;
	margin-bottom: 76px;
	// box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);

	@media ( max-width: 1600px ) {
		margin-bottom: 68px;
	}

	@media ( max-width: 992px ) {
		margin-bottom: 169px;
	}
	
	@media ( max-width: 767px ) {
		margin-bottom: 266px;
	}
	
	@media ( max-width: 650px ) {
		margin-bottom: 324px;
		background-size: 320%;
	}
	
	@media ( max-width: 430px ) {
		margin-bottom: 470px;
	}

	a {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}



.footer {
	background-color: #EEEEEE;
	padding: 40px 0 30px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;

	@media screen and (min-width: 1024px) {
		padding: 70px 0;
	}

	.container {
		width: 100%;

		@media screen and (min-width: 1300px) {
			width: 1240px;
		}
	}

	.left {
		text-align: center;
		margin-bottom: 25px;

		@media screen and (min-width: 1020px) {
			float: left;
			text-align: left;
			margin-bottom: 0;
		}

		@media screen and (min-width: 1020px) and (max-width: 1040px)  {
			width: 210px;
		}

		p {
			margin: 0.8em 0 1em;

			span,
			a {
				display: block;
				color: #002C5F;
				font-weight: 700;
				font-size: 18px;
				line-height: 130%;
			}
		}

		.button {
			display: block;
			text-transform: uppercase;
			line-height: 35px;
			width: 226px;
			color: #FFF;
			background-color: #888888;
			text-align: center;
			margin: 0;
			vertical-align: middle;
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-moz-osx-font-smoothing: grayscale;
			position: relative;
			overflow: hidden;
			
			@media ( max-width: 992px ) {
				margin: 0 auto;
			}

			&:before {
				content: "";
				position: absolute;
				z-index: -1;
				left: 50%;
				right: 50%;
				bottom: 1px;
				background: #fff;
				height: 2px;
				-webkit-transition-property: left, right;
				transition-property: left, right;
				-webkit-transition-duration: 0.3s;
				transition-duration: 0.3s;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
			}

			&.button30h {
				line-height: 30px;
				font-size: 0.9em;
			}

			.icon {
				display: inline-block;
				width: 12px;
				height: 15px;
				background-position: 0 -81px;
				margin: 0 0 -3px 5px;
			}

			&:hover, &:focus {
				background-color: darken(#888888, 8);
				text-decoration: none;

				&:before {
					left: 0;
					right: 0;
				}
			}

			&.midnight-blue {
				background-color: #022E5F;

				&:hover, &:focus {
					background-color: lighten(#022E5F, 8);
				}
			}

			&.yellow {
				background-color: #FFB817;

				&:hover, &:focus {
					background-color: lighten(#FFB817, 8);
				}
			}

			&.cerulean {
				background-color: #049FD2;

				&:hover, &:focus {
					background-color: darken(#049FD2, 8);
				}
			}

			&.turquois-blue {
				background-color: #68C5E4;

				&:hover, &:focus {
					background-color: darken(#68C5E4, 8);
				}
			}

			&.gold {
				background-color: #D9A300;

				&:hover, &:focus {
					background-color: darken(#D9A300, 8);
				}
			}

			&.sharon {
				background-color: #B25900;

				&:hover, &:focus {
					background-color: darken(#B25900, 8);
				}
			}
		}
	}

	.logo	{
		margin: 0;

		a {
			display: inline-block;
		}
	}

	.right {
		margin: 0;

		@media screen and (min-width: 750px) {
			width: 715px;
			margin: 0 auto;
		}

		@media screen and (min-width: 1020px) {
			width: 750px;
			float: right;
		}

		@media screen and (min-width: 1150px) {
			width: auto;
		}

		li {
			float: left;
			width: 100%;
			text-align: center;
			margin: 0 auto 20px;
			list-style: none;

			@media screen and (min-width: 430px) {
				width: 50%;
			}

			@media screen and (min-width: 650px) {
				width: 32%;
				margin: 0 1% 0 0;
			}

			@media screen and (min-width: 750px) {
				width: 25%;
				margin: 0 1% 0 0;
				text-align: left;

				&.rj {
					width: 22%;
				}
			}

			@media screen and (min-width: 1020px) {
				width: auto;
				text-align: left;
				margin-right: 20px;

				&.rj {
					width: auto;
				}
			}

			@media screen and (min-width: 1020px) and (max-width: 1040px)  {
				margin-right: 18px;
			}

			@media screen and (min-width: 1150px) {
				margin-right: 45px;

				&.sp {
					margin-right: 55px;
				}

				&.rj {
					margin-right: 85px;
				}
			}

			strong {
				display: block;
				color: #002C5F;
				font-weight: 600;
				font-size: 18px;
				line-height: 130%;
				margin-bottom: 10px;
			}

			p {
				margin: 0 0 8px;
				color: #666666;
				font-weight: 300;
				font-size: 13px;
				line-height: 140%;

				b {
					display: block;
					font-size: 120%;
					font-weight: 600;
				}
			}
		}

		.last {

			@media screen and (min-width: 650px) {
				clear: both;
				float: none;
				width: auto;
				margin: 0 auto;
				padding-top: 20px;
			}

			@media screen and (min-width: 750px) {
				clear: none;
				float: left;
				width: 20%;
				border-left: 1px solid #CFCFCF;
				padding: 0 0 1% 30px;
			}

			@media screen and (min-width: 1020px) {
				width: auto;
				padding-left: 20px;
			}

			@media screen and (min-width: 1020px) and (max-width: 1040px)  {
				padding-left: 18px;
			}

			@media screen and (min-width: 1150px) {
				padding-left: 55px;
			}

			.logo {
				margin-bottom: 8px;

				@media screen and (min-width: 750px) {
					margin-bottom: 25px;
				}
			}

			div {
				width: 100%;
				text-align: center;

				@media screen and (min-width: 750px) {
					width: 137px;
				}
			}

			.item {
				display: block;
				margin: 5px auto;
				color: #7F7F7F;
				line-height: 120%;
				font-weight: 300;
				font-size: 14px;

				span {
					display: inline-block;
					width: 7px;
					height: 13px;
					background-position: 0 -104px;
					margin: 0 2px 0px 0;
				}
			}
		}
	}
}
