@import 'nib'
.bandeira-verde
	background-position 13% 22% !important
	background-size 921% !important
	position absolute
	display block
	width 28%
	padding-bottom 31%
	bottom 28px //17%
	left 94%
.barba-cinza
	.madeira
		margin 0 !important
		margin-left 6% !important
	
		
	