@import 'nib'

.layout-game
	background url("../img/bg-game.jpg") no-repeat
	background-size 102% 103%

.desistir
	position fixed
	width 2.3em
	padding 0.5em
	border-radius 50%
	margin-bottom 1%
	bottom 0
	right 0
	margin-right 1%
	background-color #4c181a

.close-ossos
	background-position 47.6% 1% !important
	width 96%
	height 0
	padding-bottom 100%
	background-size 749% !important
	margin 0 auto

.madeira
	background-position 81.6% 5% !important
	width 122%
	height 0
	padding 0
	display table
	margin-left -23%
	background-size 467% !important
	label
		font-size 1em
		margin 0 auto

.letra-selecionada
	border-right 3px solid #916a4d
	padding-right 17%


.jogar
	.letra-selecionada
		border none

.numero-selecionado
	padding-left 14%

.gold
	color gold !important

.selecionada
	border-style groove
	border-style solid
	box-shadow 0px 1px 13px 0px #000
	z-index 100

.border-marrom
	width 0.1875em /* 3/16 */
	height 1.3em
	background-color #916a4d

.area-ilha
	text-align center
	display table-cell
	vertical-align middle
	padding: 5% 0


.border-right
	border-right 2px solid #916a4d

.palpites
	color #513e2f
	font-family roboto_black
	font-size 1.3em
	margin-top 19%

.qt-palpites
	border 1px dashed #4d6472
	background-color #c69c6d
	font-size 1.3em
	color #fff !important
	padding 4% 10%
	width 34%
	margin 0 auto
	text-align center
	font-weight 700
.bandeira
	background-position 0% 22% !important
	background-size 824% !important
	position absolute
	display none
	width 27%
	padding-bottom 29%
	bottom 28px //17%
	left -24%
.numero
	cursor default


.escolha-ilha
	.ilha, .ilha-jogo
		background url("../img/agua.png") no-repeat
		background-color #3699dc
		border 1px dashed #4d6472
		padding 0

	.letra-ilha
		font-size 0.7em
		color #3d6171
		display inline-block
		position absolute
		padding 6%
		font-family roboto_black

	.img-ilha
		width 102%
		display inline-block
		padding-bottom 84%
		background-size 308% !important
		background-position 100% 28% !important

	.numero
		color #fff
		font-family roboto_black
		position absolute
		display inline-block
		font-size 1em
		font-weight 700
		z-index 100
		right 50%
		bottom 25%

	.title
		color #513e2f
		font-size 1.4em
		font-family roboto_black
		margin-top 0

.barba-cinza
	.numero
		display none
	.xis
		position absolute
		z-index 100
		top 4%
		display none
