@import 'nib'

.jogar
	.ilhaPalpite
		background url("../img/agua.png") no-repeat
		background-color #3699dc
		border 1px dashed #4d6472
		padding 0

	.letra-ilha
		font-size 0.7em
		color #3d6171
		display inline-block
		position absolute
		padding 6%
		font-family roboto_black

	.img-ilha
		width 102%
		display inline-block
		padding-bottom 84%
		background-size 308% !important
		background-position 100% 28% !important

	.numero
		color #fff
		font-family roboto_black
		position absolute
		display inline-block
		font-size 1em
		font-weight 700
		z-index 100
		right 50%
		bottom 25%

	.title
		color #513e2f
		font-size 1.4em
		font-family roboto_black
		margin-top 0

	.palpites
		display block
	.xis
		position absolute
		z-index 100
		top 4%
		display none
