@import 'nib'
@media (min-width: 1024px)
	.btn
		font-size 1.6em !important
	.selecao
		span
			padding-top 6% !important
	.bluetooth
		.title-blue
			font-size 293%
@media (min-width: 660px)
	.selecao
		span
			padding-top 6% !important

.ajuda
	position fixed
	top 0
	width 2.3em
	padding 0.3em 0.5em
	border-radius 50%
	background-color #3d616f
	left 0
	margin-top 1%
	margin-left 1%
	box-shadow 0px 3px 12px #000


.ancora
	background-position 10.94% 1% !important
	width 96%
	height 0
	padding-bottom 100%
	background-size 1225% !important
	margin 0 auto

.modo-de-jogo
	.pergaminho
		padding 6%

	.btn
		display block
		color #3d616f
		font-size 1.2em
		background-color #fff
		font-family roboto_black
		margin-bottom 4%
		width 65%
		box-shadow: 0px 3px 12px #000
		
