@import 'nib'
@media (max-width 1024px)
	.topo
		font-size 160% !important

.ilha-tabela, .ilha-tabela-jogar, .ilha-tabela-pirata
	border 1px dashed #4d6472
	background url("../img/agua.png")


.tabela
	box-shadow 0px 3px 12px #000
	border-right 1px dashed #4d6472

.modo-tabela
	.ml30
		margin-left 1.875em /* 30/16 */
	.bg-azul-escuro
		background-color #3d616f
		padding 0.2em
	.madeira
		background-position: 77.6% 5% !important
		width 88% !important
		margin-left 7%
		background-size 611% !important

	.tabela
		padding-right 9px
		padding-left 10px

	.pirata2
		width 77%
		float right

	.area-ilha
		padding 2% !important

	.bandeira
		display none
		left 0% !important
		bottom 11px !important

	.col-xs-1
		width 10%
		padding-left 3px
		padding-right 3px
		//width 9.333333%

	.letra-ilha
		font-size 0.7em
		color #3d6171
		display inline-block
		position absolute
		font-family roboto_black
		left 5%
		visibility hidden


	.img-ilha
		width 90%
		display inline-block
		padding-bottom 91%
		background-size 332% !important
		background-position 99% 27% !important
		margin-left 10%
		visibility hidden

	.numero
		color #fff
		font-family roboto
		position absolute
		display inline-block
		font-size 0.8em
		font-weight 700
		z-index 100
		left 7%
		bottom 22%
		visibility hidden

	.title
		color #513e2f
		font-size 1.4em
		font-family roboto_black
		margin-top 0

	.xis
		position absolute
		z-index 100
		top 4%
		left 2%
		display none

.jogar
	.bandeira
		display block
