@import 'nib'

.selecao	
	.single
		background-position 27% 46%
		width 25%
		height 0
		padding-bottom 22%
		background-size 700%
		display inline-block
		float left
		
	.multi
		background-position 45% 46%
		width 25%
		height 0
		padding-bottom 22%
		background-size 700%
		display inline-block
		float left
	
	.btn 
		background-color #fff
		width 75%
		padding 0 !important
		position relative !important
		font-size 1.05em
		box-shadow: 0px 0px 7px #000
	
	span
		display inline-block
		color #3d616f
		font-size 1em
		padding-top 5%