@import 'nib'
@media screen and (min-width 1000px)
	.embed-responsive-item
		height 350px !important
	.slider-img
		height 94vh !important

@media screen and (max-width 999px)
	.slider-img
		height 44vh !important
	#map
		height 320px !important
	audio
	::-webkit-media-controls-panel
		background-color #fff !important
	audio
	::-moz-media-controls-panel
		background-color #fff !important
	audio
	::-webkit-media-controls-volume-slider
		background-color #dedede !important
	audio
	:-moz-media-controls-volume-slider
		background-color #dedede !important
	audio
	::-moz-media-controls-volume-slider
		background-color #dedede !important
.mt10
	margin-top 10px

.ml15
	margin-left 15px

.propostas
	background-color #dcdcdc

.bg-blue
	background-color #18405b !important

.ft-white
	color #fff !important

.panel-body
	padding-top: 0

.lista-proposta
	padding-right 3em
	li 
		font-size 1.1em
.img-contato
	width 3em
	cursor pointer
	margin-bottom 3px

.fone
	cursor pointer
	margin-bottom 3px

audio
::-webkit-media-controls-panel
	background-color #000
audio
::-moz-media-controls-panel
	background-color #000
audio
::-webkit-media-controls-volume-slider
	background-color #f1f1f1
audio
::-moz-media-controls-volume-slider
	background-color #f1f1f1

#map
	height 400px
	margin-top -5px

.logo
	position absolute
	z-index 1000
	width 25%
