@import 'nib'
@media screen and (min-width 1000px)
	.embed-responsive-item
		height 350px !important
	.slider-img
		height 94vh !important

@media screen and (max-width 999px)
	.slider-img
		height 44vh !important

.propostas
	background-color #dcdcdc

.bg-grey
	background-color grey !important

.ft-white
	color #fff !important

.panel-body
	padding-top: 0

.lista-proposta
	padding-right 3em

.img-contato
	width 3em
	cursor pointer
	margin-bottom 3px

.fone
	cursor pointer
	margin-bottom 3px
