@import 'nib'
.propostas
	background-color #dcdcdc

.bg-grey
	background-color grey !important

.ft-white
	color #fff !important

.slider-img
	min-width: 100%

.panel-body
	padding-top: 0
	
.lista-proposta
	padding-right 3em