---
title: Bluetooth
layout: default
---

<main class="bluetooth">
	<div class="container">
		<div class="ajuda" id="bt-ajuda" onclick="location.href='tela-jogar.html'">
			<img src="Content/img/ancora_01.png" alt="" class="img-responsive">
		</div>
		<div class="row">
			<div class="col-xs-5 ml30pc">
				<div class="row text-center">
					<div class="col-xs-12 no-padding">
						<div class="row">
							<div class="col-xs-9">
								<h3 class="text-uppercase text-center title-blue margin0 mb3">bluetooth</h3>
							</div>
							<div class="col-xs-3 no-padding container-taggle">
								<div class="toggle toggle-iphone pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="box text-center">
					<span class="title-box text-uppercase">dispositivos</span>
					<div class="border"></div>

					<div class="dipositivos">
						<ul class="list-unstyled list-devices">
							<li class="device">
								<span class="device-name">Android</span>
								<span class="status">Pareado</span>
								<div class="border"></div>
							</li>
							<li class="device">
								<span class="device-name">Thaise_132</span>
								<span class="status">Pareado</span>
								<div class="border"></div>
							</li>
							<li class="device">
								<span class="device-name">Beto 121</span>
								<span class="status">Pareado</span>
								<div class="border"></div>
							</li>
							<li class="device">
								<span class="device-name">Carol</span>
								<span class="status">Pareado</span>
								<div class="border"></div>
							</li>
						</ul>
					</div>

					<span class="title-box text-uppercase">encontrados</span>
					<div class="border"></div>

					<div class="encontrados">
						<span class="msg">Ative o Bluetooth para consultar uma lista de dispositivos disponíveis</span>
					</div>
					<div class="row btn-group">
						<button class="procurar text-uppercase">Procurar</button>
						<button class="cancelar text-uppercase">cancelar</button>
					</div>
				</div>
			</div>
		</div>
		{{>menu-config}}
	</div>
</main>
