---
title: Escolha uma ilha
layout: game
---
<main class="escolha-ilha">
	<div class="container">
		<div class="ajuda" id="bt-ajuda" onclick="location.href='tela-jogar.html'">
			<img src="Content/img/ancora_01.png" alt="" class="img-responsive">
		</div>
		<div class="row">

			<div class="row">
				<div class="col-xs-offset-1 col-xs-2 mt13pc">

					<img src="Content/img/pirata2.png" class="img-responsive">

					<div class="row sprite madeira">
						<div class="area-ilha">
							<label class="letra-selecionada"></label>
							<label class="numero-selecionado"></label>
						</div>
					</div>
					<div class='sprite bandeira'></div>
				</div>
				<div class="col-xs-offset-1 col-xs-7">
					<div class="row wt110">
						<h5 class="title text-uppercase text-center"><span class="fs1-5">S</span>ua vez! <span class="fs1-5">E</span>scolha uma ilha...</h5>
					</div>
					<div class="row">
						<div class="col-xs-2 ilha" id="ilha-A">
							<span class="letra-ilha">A</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 1">300</span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-B">
							<span class="letra-ilha">B</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 2"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-C">
							<span class="letra-ilha">C</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 3"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-D">
							<span class="letra-ilha">D</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 4"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-E">
							<span class="letra-ilha">E</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 5"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-F">
							<span class="letra-ilha">F</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 6"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 ilha" id="ilha-G">
							<span class="letra-ilha">G</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 7"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-H">
							<span class="letra-ilha">H</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 8"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-I">
							<span class="letra-ilha">I</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 9"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-J">
							<span class="letra-ilha">J</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 10"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-K">
							<span class="letra-ilha">K</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 11"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-L">
							<span class="letra-ilha">L</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 12"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 ilha" id="ilha-M">
							<span class="letra-ilha">M</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 13"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-N">
							<span class="letra-ilha">N</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 14"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-O">
							<span class="letra-ilha">O</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 15"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-P">
							<span class="letra-ilha">P</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 16"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-Q">
							<span class="letra-ilha">Q</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 17"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-R">
							<span class="letra-ilha">R</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 18"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 ilha" id="ilha-S">
							<span class="letra-ilha">S</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 19"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-T">
							<span class="letra-ilha">T</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 20"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-U">
							<span class="letra-ilha">U</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 21"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-V">
							<span class="letra-ilha">V</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 22"></span>
						</div>
						<!--
						<div class="col-xs-4 text-center">
							<span class="palpites text-uppercase">Palpites</span>
						</div>
						-->
					</div>
					<div class="row">
						<div class="col-xs-2 ilha" id="ilha-W">
							<span class="letra-ilha">W</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 23"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-X">
							<span class="letra-ilha">X</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 24"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-Y">
							<span class="letra-ilha">Y</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 25"></span>
						</div>
						<div class="col-xs-2 ilha" id="ilha-Z">
							<span class="letra-ilha">Z</span>
							<div class="sprite img-ilha"></div>
							<span class="numero 26"></span>
						</div>
						<!--
						<div class="col-xs-4">
							<div class="qt-palpites">0</div>
						</div>
						-->
					</div>
				</div>
			</div>
		</div>
		{{>menu-config}}
	</div>
</main>
