---
title: Escolha uma ilha, barba cinza
layout: game
---
<main class="escolha-ilha barba-cinza">
	<div class="container">
		<div class="row">
				<div class="col-xs-offset-1 col-xs-7">
					<div class="row text-center wt110">
						<h5 class="title text-uppercase"><span class="fs1-5">É</span> sua vez, dê seu palpite!</h5>
					</div>
					<div class="row">
						<div class="col-xs-2 ilha-jogo" id="ilha-A">
							<span class="letra-ilha">A</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-1"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-B">
							<span class="letra-ilha">B</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-2"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-C">
							<span class="letra-ilha">C</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-3"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-D">
							<span class="letra-ilha">D</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-4"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-E">
							<span class="letra-ilha">E</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-5"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-F">
							<span class="letra-ilha">F</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-6"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 ilha-jogo" id="ilha-G">
							<span class="letra-ilha">G</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-7"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-H">
							<span class="letra-ilha">H</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-8"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-I">
							<span class="letra-ilha">I</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-9"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-J">
							<span class="letra-ilha">J</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-10"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-K">
							<span class="letra-ilha">K</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-11"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-L">
							<span class="letra-ilha">L</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-12"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 ilha-jogo" id="ilha-M">
							<span class="letra-ilha">M</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-13"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-N">
							<span class="letra-ilha">N</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-14"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-O">
							<span class="letra-ilha">O</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-15"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-P">
							<span class="letra-ilha">P</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-16"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-Q">
							<span class="letra-ilha">Q</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-17"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-R">
							<span class="letra-ilha">R</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-18"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4 text-center mt3em">
							<span class="palpites text-uppercase">Palpites</span>
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-S">
							<span class="letra-ilha">S</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-19"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-T">
							<span class="letra-ilha">T</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-20"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-U">
							<span class="letra-ilha">U</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-21"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-V">
							<span class="letra-ilha">V</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-22"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>

					</div>
					<div class="row">
						<div class="col-xs-4">
							<div class="qt-palpites"></div>
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-W">
							<span class="letra-ilha">W</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-23"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-X">
							<span class="letra-ilha">X</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-24"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-Y">
							<span class="letra-ilha">Y</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-25"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-2 ilha-jogo" id="ilha-Z">
							<span class="letra-ilha">Z</span>
							<div class="sprite img-ilha"></div>
							<span class="numero opo-26"></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
					</div>
				</div>

			<div class="col-xs-offset-1 col-xs-2 mt13pc">
				<img src="Content/img/pirata1.png" class="img-responsive">
				<div class="row sprite madeira">
					<div class="area-ilha">
						<label class="letra-selecionada">?</label>
						<label class="numero-selecionado" id="opoNum"></label>
					</div>
				</div>
				<div class='sprite bandeira-verde'></div>
			</div>
		</div>
		{{>modal-desistir}}
		<div class="desistir" id="bt-desistir">
			<img src="Content/img/close.png" alt="" class="img-responsive">
		</div>
		{{>menu-config}}
	</div>
</main>
