---
title: Modo tabela
layout: game
---
<main class="modo-tabela escolha-tabela jogar">
	<div class="container">
		<div class="row">
			<div class="col-xs-2 no-padding mt4pc">
				<img src="Content/img/pirata2.png" class="img-responsive pirata2">
				<div class="row sprite madeira">
					<div class="col-xs-12 no-padding">
						<div class="row center-block pd1">
							<div class="col-xs-offset-1 col-xs-4">
								<span class="letra-selecionada text-center roboto-black center-block" id="mLetra"></span>
							</div>
							<div class="col-xs-1 mt3">
								<div class="border-marrom"></div>
							</div>
							<div class="col-xs-5">
								<span class="numero-selecionado text-center roboto-black center-block" id="mNum"></span>
							</div>
						</div>
						<div class='sprite bandeira'></div>
					</div>
				</div>
				<div class="row mt14pc">
					<div class="col-xs-12 text-center mt3em">
				    <span class="palpites text-uppercase">Palpites</span>
				    <div class="qt-palpites">0</div>
				   </div>
				</div>
			</div>
			<div class="col-xs-9 numero-ilha ml30 text-center">
				<div class="row wt110">
					<h5 class="title text-uppercase text-center"><span class="fs1-5">A</span>gora é minha vez!</h5>
				</div>
				<div class="tabela">
					<div class="row">
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">0</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">1</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">2</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">3</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">4</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">5</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">6</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">7</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">8</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">9</div>
					</div>
					<div class="row">
						<div class="col-xs-1 ilha-tabela-pirata coluna00">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 1" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna10">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 2" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna20">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 3" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna30">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 4" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna40">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 5" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna50">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 6" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna60">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 7" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna70">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 8" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna80">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 9" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna90">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 10" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-1 ilha-tabela-pirata coluna01">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 11" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna11">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 12" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna21">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 13" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna31">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 14" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna41">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 15" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna51">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 16" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna61">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 17" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna71">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 18" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna81">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 19" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna91">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 20" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-1 ilha-tabela-pirata coluna02">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 21" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna12">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 22" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna22">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 23" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna32">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 24" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna42">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 25" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna52">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 26" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna62">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 27" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna72">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 28" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna82">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 29" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna92">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 30" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-1 ilha-tabela-pirata coluna03">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 31" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna13">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 32" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna23">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 33" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna33">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 34" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna43">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 35" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna53">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 36" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna63">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 37" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna73">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 38" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna83">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 39" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela-pirata coluna93">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 40" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
					</div>
				</div>
			</div>
		</div>
		{{>menu-config}}
	</div>
</main>
