---
title: Modo tabela
layout: game
---

<main class="modo-tabela escolha-tabela">
	<div class="container">
		<div class="ajuda" id="bt-ajuda" onclick="location.href='tela-jogar.html'">
			<img src="Content/img/ancora_01.png" alt="" class="img-responsive">
		</div>
		<div class="row">
			<div class="col-xs-2 no-padding mt10pc">
				<img src="Content/img/pirata2.png" class="img-responsive pirata2">
				<div class="row sprite madeira">
					<div class="area-ilha">
						<label class="letra-selecionada"></label>
						<label class="numero-selecionado"></label>
					</div>
					<div class='sprite bandeira'></div>
				</div>
			</div>
			<div class="col-xs-9 numero-ilha ml30 text-center">
				<div class="row wt110">
					<h5 class="title text-uppercase text-center"><span class="fs1-5">S</span>ua vez! <span class="fs1-5">E</span>scolha uma ilha...</h5>
				</div>
				<div class="tabela">
					<div class="row">
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">0</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">1</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">2</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">3</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">4</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">5</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">6</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">7</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">8</div>
						<div class="col-xs-1 bg-azul-escuro roboto-black fs20">9</div>
					</div>
					<div class="row">
						<div class="col-xs-1 ilha-tabela coluna00">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 1" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna10">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 2" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna20">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 3" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna30">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 4" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna40">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 5" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna50">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 6" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna60">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 7" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna70">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 8" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna80">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 9" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna90">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 10" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-1 ilha-tabela coluna01">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 11" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna11">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 12" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna21">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 13" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna31">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 14" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna41">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 15" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna51">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 16" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna61">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 17" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna71">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 18" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna81">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 19" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna91">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 20" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-1 ilha-tabela coluna02">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 21" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna12">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 22" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna22">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 23" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna32">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 24" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna42">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 25" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna52">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 26" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna62">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 27" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna72">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 28" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna82">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 29" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna92">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 30" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-1 ilha-tabela coluna03">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 31" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna13">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 32" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna23">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 33" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna33">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 34" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna43">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 35" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna53">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 36" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna63">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 37" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna73">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 38" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna83">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 39" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
						<div class="col-xs-1 ilha-tabela coluna93">
							<span class="letra-ilha"></span>
							<div class="sprite img-ilha"></div>
							<span class="numero 40" value=""></span>
							<img src="Content/img/xis.png" class="img-responsive xis">
						</div>
					</div>
				</div>
			</div>
		</div>
		{{>menu-config}}
	</div>
</main>
