---
title: Seleção single multi
layout: default
---

<main class="selecao">
	<div class="container">
		<div class="ajuda" id="bt-ajuda" onclick="location.href='tela-jogar.html'">
			<img src="Content/img/ancora_01.png" alt="" class="img-responsive">
		</div>
		<div class="col-xs-offset-1 col-xs-5 mt14pc">
			<button class="btn text-uppercase mb1em" onclick="nJogadores(1)"><label class="sprite single"></label><span>singleplayer<span></button>
			<button class="btn text-uppercase" onclick="nJogadores(2)"><label class="sprite multi"></label><span>multiplayer</span></button>
		</div>
		<div class="col-xs-6 barco">
			<img src="Content/img/barco.png" class="img-responsive">
		</div>
		{{>menu-config}}
	</div>
</main>
