---
title: Tela Jogar
layout: default
---

<main class="tela-jogar">
	<div class="container">
		<div class="row">
			<img src="Content/img/logo.png" class="img-responsive center logo">
		</div>
		<div class="row">
			<button class="btn btn-game text-uppercase mb1-5pc" onclick="location.href='selecao.html'">Jogar</button>
			<button class="btn btn-intrucoes text-uppercase">Instruções</button>
		</div>
		{{>menu-config}}
	</div>
</main>
