---
title: Placar
layout: default
---

<main class="placar">
	<div class="container">
		<div class="ajuda" id="bt-ajuda" onclick="location.href='tela-jogar.html'">
			<img src="Content/img/ancora_01.png" alt="" class="img-responsive">
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-2 text-center no-padding">
				<img src="Content/img/pirata2.png" class="img-responsive"/>
				<div class="row">
					<div class="col-xs-11">
						<div class="sprite madeira">
							<div class="row mt5 mb5">
								<div class="col-xs-5">
									<span class="fs16 white text-uppercase roboto-black pull-right" id='mLetra'></span>
								</div>
								<div class="col-xs-1">
									<div class="borda-marrom center-block"></div>
								</div>
								<div class="col-xs-4 pl4">
									<span class="fs16 white roboto-black" id="mNum"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 pt5pc">
				<div class="col-xs-4">
					<div class="area1">
						<img src="Content/img/bandeira-vermelha.png" class="img-responsive">
					</div>
				</div>
				<div class="col-xs-4">
					<img src="Content/img/espadas.png" class="img-responsive espadas">
				</div>
				<div class="col-xs-4">
					<div class="area1">
						<img src="Content/img/bandeira-verde.png" class="img-responsive">
					</div>
				</div>
			</div>
			<div class="col-xs-2 text-center no-padding">
				<img src="Content/img/pirata1.png" class="img-responsive"/>
				<div class="row">
					<div class="col-xs-offset-1 col-xs-11">
						<div class="sprite madeira ml0">

								<div class="row mt5 mb5">
									<div class="col-xs-5">
										<span class="fs16 white text-uppercase roboto-black pull-right">?</span>
									</div>
									<div class="col-xs-1">
										<div class="borda-marrom center-block"></div>
									</div>
									<div class="col-xs-4 pl4">
										<span class="fs16 white roboto-black" id="opoNum"></span>
									</div>
								</div>

						</div>
					</div>
				</div>
				</div>
				<!-- <div class="pontos">
					<span class="adversario">
						?
					</span>
					<span class="seus-pontos">
						396
					</span>
				</div> -->
			</div>
		</div>
		<div class="play" onclick="jogar()">
			<img src="Content/img/play.png" class="img-responsive">
		</div>
		{{>menu-config}}
	</div>
</main>
