<section class="straight-to-point" id="point">
	<div class="container">
		<h2>direto ao ponto</h2>
		<p>Hey, sabemos que tempo é dinheiro, e que seu dia deve ser bastante atarefado. Por isso, preparamos um resumo com o que você precisa saber a respeito das vantagens de nossos servidores Cloud.</p>

		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12 color1">
				<p>Vantagens</p>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-12 color2">
				<p>SERVIDORES<br>DE 6ª GERAÇÃO</p>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-12 color3">
				<p>Máxima<br>Velocidade</p>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-12 color4">
				<p>Segurança<br>acima de tudo</p>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-12 color5">
				<p>Flexibilidade<br>e suporte</p>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-12 color6">
				<p>A melhor<br>infraestrutura</p>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-12 color2">
				<p>Facilidade<br>de acesso</p>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-12 color6">
				<p>Rapidez para<br>transferência<br>entre servidores</p>
			</div>
		</div>
	</div>
</section>