@import 'nib'

.our-prices
	width 100%
	text-align center
	padding 40px 0
	
	h2
		margin 0 0 30px 0
		font-family 'Open Sans'
		font-weight 600
		text-transform uppercase
		font-size 20px
		color #032d5f
	
	.row
		@media ( max-width: 768px )
			margin-left 0
			margin-right 0
	
	.col-md-3
		text-align center
		margin 0 0 20px 0
		
		.os
			background #bbbbbb
			width 100%
			padding 10px 0
			text-align center			
			span
				color #fff
				font-family 'Open Sans'
				text-transform uppercase
				font-size 14px
		
		.border
			border 1px solid #d2d2d2
		
		.price
			padding 7px 0
			p
				margin 0
				color #7f7f7f
				font-family 'Open Sans'
				font-size 14px
				
				&:first-child
					margin 0 0 -10px 0
				
				&:last-child
					margin -10px 0 0 0
			
			span
				color #032d5f
				font-family 'Open Sans'
				font-weight 600
			
			.coin
				font-size 16px
			
			.big
				font-size 50px
				letter-spacing 0
				margin-right -4px
			
			.letter-spacing
				letter-spacing -6px
				margin-right 0
				
			.top
				vertical-align top
				width 10px
				font-size 16px
				display inline-block
				line-height 9px
				margin 20px 0 0 0
				
		.know-others
			width 100%
			text-align center
			background #032d5f
			padding 7px 0
			margin 0 0 10px 0
			
			a
				font-size 14px
				color #fff
				font-family 'Open Sans'
				text-transform uppercase
				display block
				text-decoration none
		
	.margin-left
		margin-left 80px
		@media ( max-width: 992px )
			margin-left 0