<section class="our-prices" id="prices">
	<div class="container">
		<h2>servidores empresariais, pensados para sua empresa</h2>

		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="os">
					<span>Linux</span>
				</div>

				<div class="border">
					<div class="price">
						<p>A partir de</p>
						<span class="coin">R$</span> <span class="big letter-spacing">119</span> <span class="top">00 ,</span>
						<p>mensais</p>
					</div>

					<div class="know-others">
						<a href="#" title="Conheça outros">Conheça outros</a>
					</div>					
				</div>

			</div>

			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="os">
					<span>Windows</span>
				</div>

				<div class="border">
					<div class="price">
						<p>A partir de</p>
						<span class="coin">R$</span> <span class="big">305</span> <span class="top">00 ,</span>
						<p>mensais</p>
					</div>

					<div class="know-others">
						<a href="#" title="Conheça outros">Conheça outros</a>
					</div>					
				</div>

			</div>

			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="os">
					<span>Win + SQL Web</span>
				</div>

				<div class="border">
					<div class="price">
						<p>A partir de</p>
						<span class="coin">R$</span> <span class="big">473</span> <span class="top">00 ,</span>
						<p>mensais</p>
					</div>

					<div class="know-others">
						<a href="#" title="Conheça outros">Conheça outros</a>
					</div>					
				</div>

			</div>

			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="os">
					<span>Win + SQL STD</span>
				</div>

				<div class="border">
					<div class="price">
						<p>A partir de</p>
						<span class="coin">R$</span> <span class="big">2.445</span> <span class="top">00 ,</span>
						<p>mensais</p>
					</div>

					<div class="know-others">
						<a href="#" title="Conheça outros">Conheça outros</a>
					</div>					
				</div>

			</div>

			<div class="col-md-3 col-sm-6 col-xs-12 margin-left">
				<div class="os">
					<span>Linux + <span class="lower">c</span>Panel</span>
				</div>

				<div class="border">
					<div class="price">
						<p>A partir de</p>
						<span class="coin">R$</span> <span class="big">228</span> <span class="top">25 ,</span>
						<p>mensais</p>
					</div>

					<div class="know-others">
						<a href="#" title="Conheça outros">Conheça outros</a>
					</div>					
				</div>

			</div>

			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="os">
					<span>LINUX + PLESK 12 PRO</span>
				</div>

				<div class="border">
					<div class="price">
						<p>A partir de</p>
						<span class="coin">R$</span> <span class="big">222</span> <span class="top">75 ,</span>
						<p>mensais</p>
					</div>

					<div class="know-others">
						<a href="#" title="Conheça outros">Conheça outros</a>
					</div>					
				</div>

			</div>

			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="os">
					<span>WINDOWS + PLESK 12 PRO</span>
				</div>

				<div class="border">
					<div class="price">
						<p>A partir de</p>
						<span class="coin">R$</span> <span class="big">408</span> <span class="top">75 ,</span>
						<p>mensais</p>
					</div>

					<div class="know-others">
						<a href="#" title="Conheça outros">Conheça outros</a>
					</div>					
				</div>

			</div>

		</div>
	</div>
</section>