<header>
	<div class="container">
		<div class="logo col-md-3 col-sm-6 col-xs-6">
			<a href="http://www.under.com.br" title="under" target="_blank"><img src="https://br0.understorage.com.br/v1/AUTH_static/images/logo-under-white.png"></a>
		</div>
		<div class="menu col-md-9 col-sm-6 col-xs-6">
			<nav>
				<ul>
					<li class="menu-item">
						<a href="#" data-id="point">Direto ao ponto</a>
					</li>
					<li class="menu-item">
						<a href="#" data-id="prices">Nossos preços</a>
					</li>
					<li class="menu-item">
						<a href="#" data-id="business">Servidores empresariais</a>
					</li>
					<li class="menu-item">
						<a href="#" data-id="news">Deixe seu e-mail</a>
					</li>
				</ul>
			</nav>
			<div id="nav-icon3">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="hidden-menu">
				<a href="http://www.under.com.br" title="under" target="_blank"><img src="https://br0.understorage.com.br/v1/AUTH_static/images/logo-under-white.png"></a>
				<ul>
					<li class="menu-item">
						<a href="#" data-id="point">Direto ao ponto</a>
					</li>
					<li class="menu-item">
						<a href="#" data-id="prices">Nossos preços</a>
					</li>
					<li class="menu-item">
						<a href="#" data-id="business">Servidores empresariais</a>
					</li>
					<li class="menu-item">
						<a href="#" data-id="news">Deixe seu e-mail</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="image">
		<img src="https://br0.understorage.com.br/v1/AUTH_static/images/letra-bg-landing.png" alt="Cloud Computing É UNDER">
	</div>
	<div class="text">
		<h2 class="title">SERVIDORES A PARTIR DE <span class="coin">R$</span> <span class="orange"><span class="big">119</span> <span class="top">00 ,</span> </span></h2>
	</div>
</header>
