<div class="modal fade ht100 pd14 wt100 desistir-media" id="modal-desistir">
					<div class="modal-desistir center-block">
						<div class="header-modal mt-20">
	                        <h2 class="fs20 godzilla text-uppercase text-center white">ahoy, marujo!</h2>
	                    </div>
	                    <div class="modal-body center-block">
	                    	<span class="roboto-black cinza-escuro text-center ftnormal fs14 center-block">Tem certeza que deseja desistir?</span>
	                    	<div class="row btn-group btn-modal center-block mt60">
								<button class="text-uppercase white bg-azul" id="continuar">continuar</button>
								<button class="text-uppercase white bg-vermelho pull-right" id="desistir" onclick="location.href='tela-jogar.html'">desistir</button>
							</div>
	                    </div>
	                </div>
				</div>
