
<div class="modal fade" style="display:table;">
  <div class="modal-vitoria modal-derrota center-block">
    <div class="container-modal">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="fs20 media-modal roboto-black text-uppercase text-center marrom margin0">você perdeu!</h2>
        </div>
      </div>
      <div class="row mt10">
        <div class="col-xs-12">
          <img src="Content/img/derrota.png" alt="Imagem de derrota" class="img-responsive roboto-black center-block img-vitoria">
        </div>
      </div>
      <div class="row mt10">
        <div class="col-xs-12">
          <p class="mb0 fs10 media-modal roboto-black center-block text-uppercase text-center marrom wt95">O Pirata Barba Cinza encontrou seu tesouro, e precisou de somente</p>
        </div>
      </div>
      <div class="row mt10">
        <div class="col-xs-12">
          <h3 class="margin0 fs20 media-modal roboto-black vinho text-uppercase text-center"><span id="nr-palpites">2</span> <span class="word-palpites">palpites</span>!</h3>
        </div>
      </div>

      <div class="row mt10">
       <div class="col-xs-6">
         <div class="ajuda pull-right media-modal" id="bt-ajuda" onclick="location.href='tela-jogar.html'">
           <img src="Content/img/ancora_01.png" alt="" class="img-responsive">
         </div>
       </div>
       <div class="col-xs-6">
         <div class="volta media-modal">
           <img src="Content/img/voltar.png" class="img-responsive center-block" alt="">
         </div>
       </div>  
     </div>
    </div>
  </div>
</div>
