<div class="modal fade" style="display:table;">
  <div class="modal-vitoria center-block">
    <div class="container-modal">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="fs20 media-modal roboto-black text-uppercase text-center marrom margin0">você encontrou!</h2>
        </div>
      </div>
      <div class="row mt10">
        <div class="col-xs-12">
          <img src="Content/img/vitoria.png" alt="Imagem de derrota" class="img-responsive roboto-black center-block img-derrota">
        </div>
      </div>
      <div class="row mt10">
        <div class="col-xs-12">
          <p class="margin0 fs9 media-modal roboto-black center-block text-uppercase text-center marrom">O tesouro do Barba Cinza estava na ilha <br><strong class="text-uppercase fs24"><span class="letra-vencedor">m </span>| <span class="numero-vencedor">609</span></strong> e você encontrou em somente</p>
        </div>
      </div>
      <div class="row mt10">
        <div class="col-xs-12">
          <h3 class="margin0 media-modal fs20 roboto-black verde-escuro text-uppercase text-center"><span id="nr-palpites">2</span> <span class="word-palpites fs10">palpites!</span></h3>
        </div>
      </div>

      <div class="row mt10">
       <div class="col-xs-6">
         <div class="ajuda pull-right media-modal" id="bt-ajuda" onclick="location.href='tela-jogar.html'">
           <img src="Content/img/ancora_01.png" alt="" class="img-responsive">
         </div>
       </div>
       <div class="col-xs-6">
         <div class="volta media-modal">
           <img src="Content/img/voltar.png" class="img-responsive center-block" alt="">
         </div>
       </div>  
     </div>
    </div>
  </div>
</div>