<section class="newsletter" id="news">
	<div class="container">
		
		<p>under é servidores cloud com alta disponibilidade de infraestrutura de datacenter, de rede, armazenamento, energia e gerência.</p>

		<p><strong>Alguma dúvida de que contratar um servidor cloud com a Under é a sua melhor opção?</strong></p>

		<form>
			<input type="email" name="email" placeholder="Deixe seu e-mail">
			<button type="submit">ENVIAR</button>
		</form>

	</div>
</section>