@import 'nib'

.business-servers
	width 100%
	text-align center
	padding 40px 0
	
	
	.row
		@media ( max-width: 768px )
			margin-left 0
			margin-right 0
	
	.col-md-4
		text-align center
		margin 0
		height 333px
		
		.position
			position absolute
			top 50%
			left 50%
			width 252px
			transform translate( -50%, -50% )
		
		h4
			margin 0 0 20px 0
			font-family 'Open Sans Bold'
			font-weight 100
			font-size 22px
			color #032d5f
			text-transform uppercase
		
		p
			color #fff
			font-family 'Open Sans'
			font-size 16px
			margin 0
			line-height 20px
	
	.image
		padding 0
		background url( 'https://br0.understorage.com.br/v1/AUTH_static/images/business-servers-man.jpg' ) no-repeat center center
		background-size cover
		
	.color1
		background #fbcd31
		padding 37px 0
		
		h2
			margin 0
			font-family 'Open Sans Bold'
			font-weight 400
			text-transform uppercase
			font-size 26px
			color #fff
	
	.color2
		background #fea62e
	
	.color3
		background #fdba2f
		
		p
			color #032d5f
			font-weight 600
			
			&:nth-child(2)
				font-size 14px
				margin 15px 0 15px 0
				line-height 14px
				span
					font-size 12px
					
			&:last-child
				font-size 16px
