<section class="business-servers" id="business">
	<div class="container">
		<div class="row">
			
			<div class="col-md-12 col-sm-12 col-xs-12 color1">
				<h2>SERVIDORES EMPRESARIAIS, O MELHOR PARA SUA EMPRESA</h2>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12 color2">
				<div class="position">
					<h4>Confiança Under</h4>
					<p>
						Suporte nível empresarial<br>
						Infraestrutura estável<br>
						Experiência 13 anos under<br>
						Garantia para sua empresa<br>
						Datacenters no Brasil: SP e RJ
					</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12 color3">
				<div class="position">
					<img src="https://br0.understorage.com.br/v1/AUTH_static/images/cloud-computing-small.png" alt="cloud computhing é Under">

					<p>Capacidades extremas<br><span>by escala under</span></p>
					<p>Teras de transferência incluso<br>Armazenamento superior<br>Planos imbatíveis</p>
				</div>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12 image">
			</div>

		</div>
	</div>
</section>